body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.container {
  background-color: #fdf9f9;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

h1 {
  color: #333;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #264d77;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
}

li button {
  background-color: #eb7f8a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.fade-out-horizontal {
    transform: translateX(0); /* Start position outside the viewport on the left */
    opacity: 1; /* Start with opacity set to 0 (hidden) */
    animation:  conceal 0.3s ease forwards;
  }
  

.fade-in-horizontal {
  transform: translate(
    -100%
  ); /* Start position outside the viewport on the left */
  opacity: 0; /* Start with opacity set to 0 (hidden) */
  animation: reveal 0.3s ease forwards;
}

@keyframes reveal {
  to {
    opacity: 1; /* Fully reveal the element */
    transform: translateX(0); /* Move the element to its original position */
  }
}

@keyframes conceal {
    to {
      opacity: 0; /* Fully reveal the element */
      transform: translateX(100%); /* Move the element to its original position */
    }
  }
  